body {
  font-family: 'Macondo', 'cursive';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway';
}
p, div {
    font-family: 'Raleway';
}

.nav-info {
    text-align: center;
    margin: 5px;
}

.nav-info button, .nav-info button:focus,.nav-info button:active:focus,
.nav-info button.active:focus,
.nav-info button.focus,.nav-info button:active.focus,.nav-info button.active.focus {
    border-radius: 10px;
    outline: none;
}

.image-container {
    padding: 0 !important;
    background-color: black;
    background-clip: padding-box;
    border: 2px solid transparent;
}

.image-thumbnail {
    width: 100%;
    transition: opacity 0.5s;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    -webkit-backface-visibility: hidden;
    min-height: 200px;
}

.image-thumbnail-fade {
    opacity: 0.2;
}

.author-details {
    width: 100%;
    position: absolute;
    bottom: 40%;
    color: white;
    text-align: center;
    line-height: 18px;
    display: none;
}

.author-details p {
    color: white;
    font-size: 18px;
}

.reddit-link, .full-screen-link {
    font-size: 16px;
    color: white;
    margin: 5px;
}

.reddit-link:hover, .full-screen-link:hover {
    color: lightgrey;
}
